<a href="https://colab.research.google.com/github/bhargav23/JNTU_PYTHON-_Assignments/blob/master/JNTU_PYTHON__Assignment_Day_2.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [1]:
import numpy as np
import pandas as pd

**a)	Import the dataset and find out the shape of the dataframe.**

In [2]:
df = pd.read_csv("50_Startups.csv")

In [3]:
df.head()

   R&D Spend  Administration  Marketing Spend       State     Profit
0  165349.20       136897.80        471784.10    New York  192261.83
1  162597.70       151377.59        443898.53  California  191792.06
2  153441.51       101145.55        407934.54     Florida  191050.39
3  144372.41       118671.85        383199.62    New York  182901.99
4  142107.34        91391.77        366168.42     Florida  166187.94

In [4]:
df.shape

(50, 5)

**b)	Slice the first 15 rows of data from data frame and store them into another variable**

In [5]:
temp = df.iloc[0:15]

In [6]:
temp.shape

(15, 5)

**c)	Find the min, max,head,tail,dtypes values of Administration column.**

In [7]:
df['Administration'].min()

51283.14

In [8]:
df['Administration'].head()

0    136897.80
1    151377.59
2    101145.55
3    118671.85
4     91391.77
Name: Administration, dtype: float64

In [9]:
df['Administration'].tail()

45    124153.04
46    115816.21
47    135426.92
48     51743.15
49    116983.80
Name: Administration, dtype: float64

In [10]:
df['Administration'].dtypes

dtype('float64')

**d)	Slice the 2 & 3 columns of the data frame and store it into another variable.**

In [11]:
tdf = df.iloc[:, 1:3]

**e)	Find out the aggregations like mean, median,variance and standard deviation for first 20 rows of profit column.**

In [12]:
adf = df.head(20)

In [13]:
adf.describe()

           R&D Spend  Administration  Marketing Spend        Profit
count      20.000000       20.000000        20.000000      20.00000
mean   119114.160500   126407.789000    292278.697000  151161.65700
std     26215.485069    21380.719233    106026.472394   23249.29271
min     78013.110000    91391.770000         0.000000  122776.86000
25%     94458.807500   110115.375000    251958.557500  131931.24750
50%    120242.880000   124968.610000    288746.940000  147940.95500
75%    136488.430000   145947.262500    363688.125000  159290.32500
max    165349.200000   156547.420000    471784.100000  192261.83000

**f)	Find out the profit median for different states.(hint: Use groupby function)**

In [14]:
df.groupby('State')[['Profit']].median()

               Profit
State
California   97427.84
Florida     109543.12
New York    108552.04

**g)	Filter out the rows from dataframe where R&D Spend is more than 50,000.**

In [15]:
df[df['R&D Spend']>50000]

    R&D Spend  Administration  Marketing Spend       State     Profit
0   165349.20       136897.80        471784.10    New York  192261.83
1   162597.70       151377.59        443898.53  California  191792.06
2   153441.51       101145.55        407934.54     Florida  191050.39
3   144372.41       118671.85        383199.62    New York  182901.99
4   142107.34        91391.77        366168.42     Florida  166187.94
5   131876.90        99814.71        362861.36    New York  156991.12
6   134615.46       147198.87        127716.82  California  156122.51
7   130298.13       145530.06        323876.68     Florida  155752.60
8   120542.52       148718.95        311613.29    New York  152211.77
9   123334.88       108679.17        304981.62  California  149759.96
10  101913.08       110594.11        229160.95     Florida  146121.95
11  100671.96        91790.61        249744.55  California  144259.40
12   93863.75       127320.38        249839.44     Florida  141585.52
13   91992.39       135495.07        252664.93  California  134307.35
14  119943.24       156547.42        256512.92     Florida  132602.65
15  114523.61       122616.84        261776.23    New York  129917.04
16   78013.11       121597.55        264346.06  California  126992.93
17   94657.16       145077.58        282574.31    New York  125370.37
18   91749.16       114175.79        294919.57     Florida  124266.90
19   86419.70       153514.11             0.00    New York  122776.86
20   76253.86       113867.30        298664.47  California  118474.03
21   78389.47       153773.43        299737.29    New York  111313.02
22   73994.56       122782.75        303319.26     Florida  110352.25
23   67532.53       105751.03        304768.73     Florida  108733.99
24   77044.01        99281.34        140574.81    New York  108552.04
25   64664.71       139553.16        137962.62  California  107404.34
26   75328.87       144135.98        134050.07     Florida  105733.54
27   72107.60       127864.55        353183.81    New York  105008.31
28   66051.52       182645.56        118148.20     Florida  103282.38
29   65605.48       153032.06        107138.38    New York  101004.64
30   61994.48       115641.28         91131.24     Florida   99937.59
31   61136.38       152701.92         88218.23    New York   97483.56
32   63408.86       129219.61         46085.25  California   97427.84
33   55493.95       103057.49        214634.81     Florida   96778.92