<a href="https://colab.research.google.com/github/bhargav23/JNTU_PYTHON_Assignments/blob/master/JNTU_PYTHON__Assignment_3.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [1]:
'''
1. Write a Python program to count the number of characters (character frequency) in a string

'''
str = "Sample Text"
dict = {}
for n in str:
    keys = dict.keys()
    if n in keys:
        dict[n] += 1
    else:
        dict[n] = 1

print(dict)

{'S': 1, 'a': 1, 'm': 1, 'p': 1, 'l': 1, 'e': 2, ' ': 1, 'T': 1, 'x': 1, 't': 1}

In [11]:
'''
2. Write a Python program demonstrating all the string methods that were discussed in day1 session.

'''


str = 'hello world!'
str2 = "python programming"

print("complete string:", str )

print("first character of the string:", str[0])

print("the string starting from 2nd to 5th:",str2[1:5])

strupdate = str[:6] + 'Python'
print("Updated string :-", strupdate )

sub = "P"

print("Subsring is searched:",str2.count(sub))
print("Substring is searched between 0 to 10 :",str2.count(sub,0,10))

sub = "Prog"

print("Search a substring \'Prog\' in the string : ", str2.find(sub,50))


str = "-"
seq = ("Easy","to","Use")
print("Join string with a separated character :", str.join(seq))

print("Length of the string: ", len(str2))

str2 = "0000000000Python Programming00000000"

print("Strip the leading and trailing zeros in a string:", str2.strip('0'))

str2 = "Python Programming"
print("Split a string: ", str2.split())

print(str2.replace("Python","Perl"))

name = "python programming"

print(name)

print(name.upper())
print(name.lower())
print(name.islower())
print(name.isupper())
print(name.split(" "))
print(name.capitalize())
print(name.center(50))
print(name.center(50,"*"))

query = "I love {} and {}"

print(query.format("python","hadoop"))
print(query.format(1,2))


val = None
print(val)

complete string: hello world!
first character of the string: h
the string starting from 2nd to 5th: ytho
Updated string :- hello Python
Subsring is searched: 0
Substring is searched between 0 to 10 : 0
Search a substring 'Prog' in the string :  -1
Join string with a separated character : Easy-to-Use
Length of the string:  18
Strip the leading and trailing zeros in a string: Python Programming
Split a string:  ['Python', 'Programming']
Perl Programming
python programming
PYTHON PROGRAMMING
python programming
True
False
['python', 'programming']
Python programming
                python programming
****************python programming****************
I love python and hadoop
I love 1 and 2
None

In [3]:
'''
3. Write a Python program demonstrating all the list methods that were discussed in day1 session.

'''

alist = [10,20,30,40,565443,4,400,54,10]

alist.append(600)
print("List elements are :", alist)
alist.append(45)
alist.append(89)
print("List elements are :", alist)

alist.extend([50,34,4,6,45])

print("List elements are :", alist)

print(alist.count(10))

# list.insert(where to insert, what to insert)
alist.insert(0,5)
print("List elements are :", alist)

alist.insert(2,200)
print("List elements are :", alist)

alist.pop()    # by deault last element will be removed
print("List elements are :", alist)
alist.pop(1)    
print("List elements are :", alist)

## we pass the value DIRECTLY ... not the index
alist.remove(200)    # element is passed directly
print("List elements are :", alist)

alist.reverse()
print("List elements are :", alist)

alist.sort()
print("List elements are :", alist)

List elements are : [10, 20, 30, 40, 565443, 4, 400, 54, 10, 600]
List elements are : [10, 20, 30, 40, 565443, 4, 400, 54, 10, 600, 45, 89]
List elements are : [10, 20, 30, 40, 565443, 4, 400, 54, 10, 600, 45, 89, 50, 34, 4, 6, 45]
2
List elements are : [5, 10, 20, 30, 40, 565443, 4, 400, 54, 10, 600, 45, 89, 50, 34, 4, 6, 45]
List elements are : [5, 10, 200, 20, 30, 40, 565443, 4, 400, 54, 10, 600, 45, 89, 50, 34, 4, 6, 45]
List elements are : [5, 10, 200, 20, 30, 40, 565443, 4, 400, 54, 10, 600, 45, 89, 50, 34, 4, 6]
List elements are : [5, 200, 20, 30, 40, 565443, 4, 400, 54, 10, 600, 45, 89, 50, 34, 4, 6]
List elements are : [5, 20, 30, 40, 565443, 4, 400, 54, 10, 600, 45, 89, 50, 34, 4, 6]
List elements are : [6, 4, 34, 50, 89, 45, 600, 10, 54, 400, 4, 565443, 40, 30, 20, 5]
List elements are : [4, 4, 5, 6, 10, 20, 30, 34, 40, 45, 50, 54, 89, 400, 600, 565443]

In [4]:
'''
4. Write a Python program demonstrating all the dictionary methods that were discussed in day1 session.

'''
#!/usr/bin/python

# Dictionaries in python
dict = {'Subject':'Physics','Year':2014,'Marks':88}

# to print complete dictionary
print("Complete dict : ", dict )

# If we attempt to access a data item a key
# which is not part of the dictionary, we get an error
# to print the values in the dictionary
print("dict['Subject']:",dict['Subject'])
print("dict['Marks']:",dict['Marks'])

# update existing entry
dict['Year'] = 2013

# created a new key with value
dict['School'] = 'Milton High'
print("after new key : ", dict )

# remove individual dictionary elements or clear the entire contents of a dictionary
# remove entry ith key 'Subject'

del dict['Subject']
print("after removing key \'Subject\' : ", dict )

# remove all entries in dict
dict.clear()
print("After removing all entries : ", dict )

# delete entire dictionary
del dict ;
print("dictionary dict deleted.")


# assign dictionaries
dict = {'Subject':'physics','Year':2014,'Marks':88}
adict = {'School':'Milton High'}

# a shallow copy of dictionary dict
dict.copy()

# a list of dict's ( key, value ) tuple pairs
dict.items()
print("dict\'s (key,value) tuple pairs :", dict.items())

# list of dictionary dict's keys
dict.keys()
print("dict\'s keys : ",dict.keys())

# list of dictionary dict's values
dict.values()
print("dict\'s values : ", dict.values())

# to add dictionary dict2's key-values pairs to dict
print("Second dictionary adict: ", adict )
dict.update(adict)
print("dict after updation: ", dict )

Complete dict :  {'Subject': 'Physics', 'Year': 2014, 'Marks': 88}
dict['Subject']: Physics
dict['Marks']: 88
after new key :  {'Subject': 'Physics', 'Year': 2013, 'Marks': 88, 'School': 'Milton High'}
after removing key 'Subject' :  {'Year': 2013, 'Marks': 88, 'School': 'Milton High'}
After removing all entries :  {}
dictionary dict deleted.
dict's (key,value) tuple pairs : dict_items([('Subject', 'physics'), ('Year', 2014), ('Marks', 88)])
dict's keys :  dict_keys(['Subject', 'Year', 'Marks'])
dict's values :  dict_values(['physics', 2014, 88])
Second dictionary adict:  {'School': 'Milton High'}
dict after updation:  {'Subject': 'physics', 'Year': 2014, 'Marks': 88, 'School': 'Milton High'}

In [10]:
'''
5. Write a Python program demonstrating all the set methods that were discussed in day1 session.
'''

# Python program to demonstrate 
# Creation of Set in Python 

# Creating a Set 

set1 = set([1, 2, 4, 4, 3, 3, 3, 6, 5]) 
print("\nSet with the use of String: ") 
print(set1) 

#Adding Elements
set1.add(8) 
set1.add(9) 
set1.add((6,7)) 
print("\nSet after Addition of Three elements: ") 
print(set1) 

# Addition of elements to the Set using Update function 

set1.update([10, 11]) 
print("\nSet after Addition of elements using Update: ") 
print(set1) 

# Removing elements from Set 
# using Remove() method 
set1.remove(5) 
set1.remove(6) 
print("\nSet after Removal of two elements: ") 
print(set1) 

# Removing elements from Set 
# using Discard() method 
set1.discard(8) 
set1.discard(9) 
print("\nSet after Discarding two elements: ") 
print(set1)

Set with the use of String:
{1, 2, 3, 4, 5, 6}

Set after Addition of Three elements:
{1, 2, 3, 4, 5, 6, (6, 7), 8, 9}

Set after Addition of elements using Update:
{1, 2, 3, 4, 5, 6, (6, 7), 8, 9, 10, 11}

Set after Removal of two elements:
{1, 2, 3, 4, (6, 7), 8, 9, 10, 11}

Set after Discarding two elements:
{1, 2, 3, 4, (6, 7), 10, 11}